# Dependencies
node_modules/

# Build output
dist/
build/
.next/
.expo/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
infra/docker/.env.prod

# Logs
*.log
npm-debug.log*

# Tests / coverage
coverage/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/dev.db
